<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.projectboot.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.projectboot.pojo.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userImg" column="user_img" jdbcType="VARCHAR"/>
            <result property="userRoot" column="user_root" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_account,
        user_password,user_img,user_root
    </sql>
</mapper>
